<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空间-->
<mapper namespace="com.ssm.mapper.ProductMapper">
    <select id="findAll" resultType="product" >
        select * from PRODUCT
    </select>

    <!--查询总记录数-->
    <select id="findTotalCounts" resultType="int">
        SELECT COUNT(*) FROM PRODUCT
    </select>

    <!--添加商品-->
   <insert id="addProduct" parameterType="product">
       insert into PRODUCT (productNum, <!--编号-->
       productName,    <!--名称-->
       cityName,    <!--出发城市-->
       departureTime,    <!--出发时间-->
       productPrice,    <!--产品价格-->
       productDesc,    <!--产品描述-->
       productStatus    <!--状态-->
       ) VALUES (#{productNum},
       #{productName},
       #{cityName},
       #{departureTime},
       #{productPrice},
       #{productDesc},
       #{productStatus})
   </insert>

    <!--删除操作-->
    <delete id="delProduct" parameterType="string">
        DELETE from PRODUCT where id = #{id}
    </delete>
</mapper>